/*
* 			<コ:彡
*
* THATCAMP PHILLY INTRO TO APIs : SIMPLE STYLE SHEET
*
*/

/*https://kuler.adobe.com/Cmon-Up-color-theme-2205/

black : #13140F
electric green : #D4FF00
light gray : #E4FFE6
dark gray : #68776C
cyan : #00D6DD
*/

@import url(http://fonts.googleapis.com/css?family=Monoton);

* { margin: 0; }

body, html{ font-family: "Helvetica Neue", Helvetica, Ariel, sans-serif; height: 100%;}

.wrapper{ 
            min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto -63px;
}

.navbar {background-color: #13140F ; border-bottom: 3px solid #00D6DD;}

.navbar #brand h1 { font-family: "Monoton", Helvetica, sans-serif; font-style: italic; height: 1.5em;}

.navbar h1, .navbar #count { color: #D4FF00; }

.navbar #search { padding-top: 1.5%;}

.navbar #search form input{ width: 50%;}

#results {padding-top: 10%;}

#results div:first-child h3 { color: #68776C; padding-bottom: 30px; }

#results h3{ color: #bbb; display: none; }

.thumb { width: 200px; min-height: 150px; clear: both;}
.thumb img { min-width: 200px; }
.packery { min-width: 200px; min-height: 150px; }
.push { height: 60px; }

footer { 
	height: 60px;
	background-color: #13140F ; 
	}