<!DOCTYPE html>
<html>
<head>
        <title>2014 THATCamp Philly: Intro to APIs</title>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">
</head>

<!--
 
 /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
 *    ______________ ___    _________________________                        
      \__    ___/   |   \  /  _  \__    ___/\_   ___ \_____    _____ ______  
 *      |    | /    ~    \/  /_\  \|    |   /    \  \/\__  \  /     \\____ \ 
        |    | \    Y    /    |    \    |   \     \____/ __ \|  Y Y  \  |_> >
 *      |____|  \___|_  /\____|__  /____|    \______  (____  /__|_|  /   __/ 
                      \/         \/                 \/     \/      \/|__|    
 *                    ___  __   __     ___  __           __     __  
               | |\ |  |  |__) /  \     |  /  \     /\  |__) | /__` 
 *             | | \|  |  |  \ \__/     |  \__/    /~~\ |    | .__/ 
                                                           
 *                                                                           
                                                                             
 *             Nabil Kashyap / nkashya1@swarthmore.edu / 9.19.14                                                              
                                                                             
 *                                                                           
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 
-->

<body>
        <div class="wrapper">
        
        <div class='navbar navbar-inverse navbar-fixed-top'>
                <div class="container">
                        <div class="row">
                                <div class="col-md-5" id="brand">
                                        <a href=""><h1>DPLA thumbulator</h1></a>
                                </div>
                        <div class="col-md-3"  id='count'><h1><span class="glyphicon glyphicon-thumbs-up"></span></h1></div>
                        <div class="col-md-4"  id='search'>
                                <form class='form-inline' role='form'>
                                        <input class='form-control' type="text" placeholder='search'>
                                        <button class='btn btn-default' type="submit">get thumbs!</button>
                                </form>
                        </div>
                        </div>
                </div>
        </div>
        
        <div class="container" id="results">
                <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                            <em><h3>click return for the next 10 results</h3></em>
                        </div>
                </div>
                <div class='row'>
                        <div class='col-md-8 col-md-offset-2' id='thumbs'>
                                <ul class='list-inline'>
                                        <h2>Enter a search term and get some thumbs back.</h2>
                                </ul>
                        </div>
                </div>
        </div>

        <div class="push"></div>
        </div>

        <footer>
                <div class="container"></div>
        </footer>


                <script type="text/template" id="thumbs_template">
                        <li> <a href="<%= thumb.isShownAt %>" target="_blank" >
                            <img src="<%= thumb.object %>" alt="">
                        </a></li>
                </script>

                <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
                <script src="https://code.jquery.com/jquery.js"></script>
                <!-- Include all compiled plugins (below), or include individual files as needed -->
                <script src="js/bootstrap.min.js"></script>
                <script src="js/underscore-min.js"></script>
                <script src="js/key.js"></script>
                <script src="js/scripts.js"></script>

        </body>
        </html>
